.ui_cells {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}
.ui_cells-input {
  width: 45px;
  height: 60px;
  border: 1px solid var(--whiteGrey);
  border-radius: 6px;
  background: var(--whiteGrey);
  font: 600 24px/60px var(--font);
  color: var(--black);
  text-align: center;
  caret-color: transparent;
}
.ui_cells-input::-moz-selection {
  background: transparent;
}
.ui_cells-input::selection {
  background: transparent;
}
.ui_cells-input::-moz-selection {
  background: transparent;
}
.ui_cells-input:focus {
  border-color: var(--darkGrey);
}
.ui_cells-input--error {
  border-color: var(--redError);
  background: var(--redError);
}
.ui_cells-input--error:focus {
  border-color: var(--red);
  background: var(--redError);
}
